<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome, Admin</h2>
        <a href="{{ url_for('set_rules') }}"><button>Set Rules</button></a>
        <a href="{{ url_for('display_lists') }}"><button>Display Lists</button></a>
        <a href="{{ url_for('check_packet') }}"><button>Check Packet</button></a>
        <a href="{{ url_for('logout') }}"><button>Logout</button></a>
    </div>
</body>
</html>
